<div id="wrapper">
    <nav class="navbar navbar-light bg-faded">
        <div class="sidebar" role="navigation">
            <ul class="nav flex-column" id="side-menu">
              <li class="nav-item">
                <a routerLink="/user/homeboard"><i class="fas fa-columns"></i> Dashboard</a>
              </li>
              <li class="nav-item">
                <a routerLink="/user/account/transactionHistory"><i class="fas fa-history"></i> Transaction History</a>
              </li>
    
              <li class="nav-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  <a href="#" class="active"><i class="fas fa-file-invoice"></i> &nbsp; <i class="fas fa-chevron-right"></i> Accounts </a>
              </li>
              <ul class="collapse nav-second-level" id="collapseExample">
                  <li class="nav-item">
                    <a routerLink="/user/account/addAccount">Add New Account</a>
                  </li>
                  <li class="nav-item">
                    <a class="active" routerLink="/user/account/yourAccounts">Your Accounts (Accounts' Balance)</a>
                  </li>
              </ul>
            </ul>
        </div>
    </nav>
    <br>
    <div class="accounts-container mt-4 justify-content-center">
      <h1>Send Money</h1><br>
      <p>Choose your account to send money from</p>
      <select class="form-control" aria-describedby="basic-addon2" [(ngModel)]="newTransaction.accountID">
        <option value="0" disabled>--Select--</option>
        @for (account of accounts;track account){
            @if(account.accountType==1){
                <option value="{{account.id}}">Savings Account</option>
            }
            @if(account.accountType==2){
                <option value="{{account.id}}">Current Account</option>
            }
            @if(account.accountType==3){
                <option value="{{account.id}}">Salary Account</option>
            }
        }
      </select>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Your Account ID</span>
          <input type="number" [(ngModel)]="newTransaction.accountID" placeholder="Enter Id" class="form-control" aria-describedby="basic-addon2" disabled />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Amount to Transfer</span>
          <input type="number" [(ngModel)]="newTransaction.amount" placeholder="Enter Amount" class="form-control" aria-describedby="basic-addon2" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Today's Date</span>
          <input type="text" [(ngModel)]="newTransaction.date" placeholder="Today's Date" class="form-control" aria-describedby="basic-addon2" disabled />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">To Account Number</span>
          <input type="number" [(ngModel)]="toAccountNumber" placeholder="Enter the person's Account Number you want to send to" class="form-control" aria-describedby="basic-addon2" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Description</span>
          <input type="text" [(ngModel)]="newTransaction.description" placeholder="Enter Initial Balance" class="form-control" aria-describedby="basic-addon2" />
      </div>
      <button class="btn btn-primary" (click)="doTransaction()">Send ₹{{newTransaction.amount}} Money</button>
    </div> 
  </div>