<div class="register-Layout">
    <section class="bg-light py-3 py-md-5" style="background: url(https://mediaim.expedia.com/destination/2/51c2df56b5eba1fc1648c9aa1d18849e.jpg); background-size: cover;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
              <div class="card border border-light-subtle rounded-3 shadow-sm">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="text-center mb-3">
                    <a href="#">
                      <img src="./img/logos/PAREL-lightBG-nobg.png" alt="PPB Logo" width="300">
                    </a>
                  </div>
                  <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Register as user to PPB Bank</h2>
                  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">
                    <div class="row gy-2 overflow-hidden">
                        <div class="col-12">
                            <div class="form-floating mb-3 formGroup">
                              <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name" required>
                              <label for="name" class="form-label">Name</label>
                              <div class="error" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
                                Name is required!
                              </div>
                            </div>
                          </div>
                      <div class="col-12">
                        <div class="form-floating mb-3 formGroup">
                          <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com" required>
                          <label for="email" class="form-label">Email</label>
                          <div class="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
                            Email is required!
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3 formGroup">
                          <input type="password" class="form-control" formControlName="password" id="password" value="" placeholder="Password" required>
                          <label for="password" class="form-label">Password</label>
                          <div class="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
                            Password is required!
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-grid my-3">
                          <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>
                        </div>
                      </div>
                      <div class="col-12">
                        <p class="m-0 text-secondary text-center">Have an account? <a routerLink="/auth/login" class="link-primary text-decoration-none">Log in</a></p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</div>
