@model TicketTango.Models.Event

@{
    ViewData["Title"] = "AddEvent";
}

<div class="container text-white">
    <div class="row">
        <div class="form-box">
            <h1>Add Event</h1>
            <br />
            <hr style="color: white;" />
            <form asp-action="AddEvent" class="mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" placeholder="John Doe" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" placeholder="Stadium/Location Name, City, Country" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfEvent" class="control-label">Date of Event</label>
                    <input asp-for="DateOfEvent" class="form-control" />
                    <span asp-validation-for="DateOfEvent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AvailableSeats" class="control-label">Available Seats</label>
                    <input asp-for="AvailableSeats" class="form-control" />
                    <span asp-validation-for="AvailableSeats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TicketPrice" class="control-label">Ticket Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">₹</span>
                        <input asp-for="TicketPrice" class="form-control" placeholder="Price Per Tix" aria-describedby="basic-addon1"  />
                    </div>
                    <span asp-validation-for="TicketPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PosterLink" class="control-label">Poster Link</label>
                    <input asp-for="PosterLink" class="form-control" placeholder="https://imgsource.com/image.jpg" />
                    <span asp-validation-for="PosterLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocationLink" class="control-label">Location Link (Google Maps link)</label>
                    <input asp-for="LocationLink" class="form-control" placeholder="https://maps.app.goo.gl/xyz" />
                    <span asp-validation-for="LocationLink" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
