<!-- Footer starts -->
<footer class="w-100 row justify-content-center align-items-center flex-direction-column pt-3 pt-md-5 pb-md-3 m-0 pr-md-3 pr-lg-0">
    <div class="col-md-12 col-lg-10 offset-lg-1 d-md-flex m-0 p-md-0">
      <div class=" col-12 col-md-7 d-md-flex">
        <a class="navbar-brand" routerLink="/">
            <h1><img src="./img/logos/PAREL-blackBG-nobg.png" width="250" alt="Parel Pathpedhi Bank"></h1>
          </a>
        <div id="social-media-icons" class="w-xs-50 w-md-85 pt-3 row justify-content-around align-items-center flex-md-nowrap">
          
        </div>
        <div class="col-md-3">
            <div class="w-100 row justify-content-center text-center align-items-center flex-direction-column" style="color: #ffffff;">
              <p><i class="fas fa-map-pin"></i>&nbsp;<u>PPB, Mumbai</u></p>
              <a href="#" class="footer-link">About Us</a>
              <a href="#" class="footer-link">Contact</a>
              <a href="#articles" class="footer-link">Articles</a>
              <a href="#" class="footer-link">Privacy Policy</a>
              <a href="#" class="footer-link">Support</a>
            </div>
        </div>
        <br>
        <div class="col-md-3">
            <div class="w-100 row justify-content-center text-center align-items-center flex-direction-column" style="color: #ffffff;">
              <p>Follow Us On:</p><hr>
              <a href="#" class="footer-link"><i class="fab fa-facebook"></i> Facebook</a>
              <a href="#" class="footer-link"><i class="fab fa-youtube"></i> YouTube</a>
              <a href="#" class="footer-link"><i class="fab fa-twitter"></i> Twitter/X</a>
              <a href="#" class="footer-link"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
      </div>
      <p id="copyright-text" class="color-grayish-blue">© Parel Pathpedhi Bank. All Rights Reserved, 2025.</p>
  </div>
  </footer>