@model TicketTango.ViewModels.LoginUserModel
@* @model TicketTango.Models.User *@

@{
    ViewData["Title"] = "Index";
}

<div class="container text-white">
    <div class="row">
        <div class="form-box">
            <h1>Login to  <b>TicketTango</b></h1>
            <br />
            @if (TempData["message"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <hr style="color: white;" />
            <form asp-controller="Login" asp-action="Index" method="post" role="form" id="contact-form" class="mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Email field -->
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <!-- Password field -->
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
            <div>
                Don't have an account? <a asp-controller="Register" asp-action="Index">Register now!</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
