<div id="wrapper">
    <nav class="navbar navbar-light bg-faded">
      <div class="sidebar" role="navigation">
        <div class="sidebar-nav">
          <ul class="nav flex-column" id="side-menu">
            <li class="nav-item sidebar-search">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </li>
  
            <li class="nav-item">
              <a href="#" class="active"><i class="fas fa-columns"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="#"><i class="fas fa-history"></i> Transaction History</a>
            </li>
  
            <li class="nav-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <a href="#"><i class="fas fa-file-invoice"></i> &nbsp; <i class="fas fa-chevron-right"></i> Accounts </a>
            </li>
            <ul class="collapse nav-second-level" id="collapseExample">
                <li class="nav-item">
                  <a routerLink="/user/account/addAccount">Add New Account</a>
                </li>
                <li class="nav-item">
                  <a href="#" routerLink="/user/account/yourAccounts">Your Accounts (Accounts' Balance)</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
  
    <div id="content">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><b>Hello, user!</b></h4>
          <h6 class="card-subtitle mb-2 text-muted">Your primary account type: <b>Savings</b></h6>
          <br>
          <h6 class="card-text">Here, you can do transaction seamlessly and digitally!</h6>
          <br>
          <button class="btn btn-success"><a href="#" class="card-link">Check your account balance <i class="fas fa-balance-scale-right"></i></a></button>
          &nbsp;&nbsp;
          <button class="btn btn-outline-success"><a href="#" class="card-link"><i class="fas fa-donate"></i> Send Money</a></button>
        </div>
      </div>
    </div>
  </div>