
<form class="d-flex" role="search" asp-controller="Home" asp-action="SearchEvent" method="get">
	<input class="form-control me-2" type="text" placeholder="Search Events/Location" name="searched" value="" />
	<button type="submit" class="btn btn-outline-primary">Search</button>
</form>
