<header>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
      <a class="navbar-brand" routerLink="/">
        <h1><img src="./img/logos/PAREL-lightBG-nobg.png" width="250" alt="Parel Pathpedhi Bank"></h1>
      </a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#articles">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          &nbsp;
        </ul>
        <ul class="navbar-nav login-nav">
          <li class="nav-item">
            <button id="auth-btn" class="btn btn-lg rounded-pill text-white bg-green-cyan font-weight-bold" routerLink="/auth/login">Login</button>
          </li>
          &nbsp;
          <li class="nav-item">
            <button id="auth-btn" type="button" class="btn btn-lg rounded-pill text-white bg-green-cyan font-weight-bold" routerLink="/auth/register">Register</button>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Header Ends -->