.w-72 {
  width: 30rem;
}
.admin-header-component {
  justify-content: center;
}

.inset-active-link {
  box-shadow: inset 0.25rem 0 0 0 #805ad5;
}


/* Mobile styles */
@media only screen and (max-width: 767.98px) {
  aside .hidden {
    display: none; /* Hide sidebar on mobile by default */
  }
  .admin-header-component {
    flex-direction: column; /* Stack items vertically on mobile */
  }
  .admin-header-component aside {
    display: block; /* Show sidebar on mobile */
    width: 100%; /* Make the sidebar full width */
    box-shadow: none; /* Remove shadow for a cleaner look on mobile */
  }
}