<div id="wrapper">
  <nav class="navbar navbar-light bg-faded">
      <div class="sidebar" role="navigation">
          <ul class="nav flex-column" id="side-menu">
            <li class="nav-item">
              <a routerLink="/user/homeboard"><i class="fas fa-columns"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a routerLink="/user/account/transactionHistory"><i class="fas fa-history"></i> Transaction History</a>
            </li>
  
            <li class="nav-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <a href="#" class="active"><i class="fas fa-file-invoice"></i> &nbsp; <i class="fas fa-chevron-right"></i> Accounts </a>
            </li>
            <ul class="collapse nav-second-level" id="collapseExample">
                <li class="nav-item">
                  <a routerLink="/user/account/addAccount">Add New Account</a>
                </li>
                <li class="nav-item">
                  <a class="active" routerLink="/user/account/yourAccounts">Your Accounts (Accounts' Balance)</a>
                </li>
            </ul>
          </ul>
      </div>
  </nav>
  <br>
  <div class="accounts-container mt-4  justify-content-center">
    <h1>Your Accounts</h1><br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            
            <!-- <th scope="col">UserID</th> -->
            <th scope="col">Account Number</th>
            <th scope="col">Balance</th>
            <th scope="col">Account Type</th>
            <th scope="col">Created Date</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let product of products">  -->
            @for (account of accounts;track account){
              <tr>
                <!-- <td>{{account.userID}}</td> -->
                <td>{{account.accountNumber}}</td>
                <td>{{account.balance}}</td>
                @if(account.accountType==1)
                {
                  <td>Savings</td>
                }
                @if(account.accountType==2)
                {
                  <td>Current</td>
                }
                @if(account.accountType==3)
                {
                  <td>Salary</td>
                }
                <td>{{account.createdDate}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteAccount(account.accountNumber)">Delete</button>
                </td>
              </tr>
        }
          
        </tbody>
        
      </table>
  </div> 
</div>